
/.idea
.DS_Store
.idea
/data
/data
/src/.ipynb_checkpoints
/src/.ipynb_checkpoints
*.pyc
/src/video_script/data/dumps-2
/src/video_script/data/dumps-2
/src/video_script/data/dumps-2/
/src/video_script/data/dumps-3/
/src/video_script/data/dumps-4/
/src/video_script/data/dumps-5/
/src/video_script/data/dumps-6/
